[submodule "test_generator"]
	path = test_generator
	url = https://github.com/Lifelong-Learning-Assisttant/test_generator.git
[submodule "agent_service"]
	path = agent_service
	url = https://github.com/Lifelong-Learning-Assisttant/agent_service.git
[submodule "web_ui_service"]
	path = web_ui_service
	url = https://github.com/Lifelong-Learning-Assisttant/web_ui_service.git
[submodule "vpn-utils"]
	path = vpn-utils
	url = https://github.com/Lifelong-Learning-Assisttant/vpn-utils.git
